.btnList {
  display: flex;
  justify-content: center;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.button {
  margin: 0;
  padding: 0;
  width: 80px;
  height: 30px;
  font-size: 16px;
  text-transform: capitalize;
  background-color: #fff;
  outline: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 1px 4px #000;
  border: none;
  cursor: pointer;
}

button:hover {
  outline: 1px solid blueviolet;
  box-shadow: 0 2px 6px blueviolet;
}

button:active {
  outline: 1px solid #aaa;
  box-shadow: 0 1px 4px aqua;
}
